// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}


@mixin max-width {
	max-width: 1440px;
    margin-right: auto !important;
    margin-left: auto !important;
}

@mixin top-margin ($rems: 2) {
	margin-top: $rems + 0rem;
}

@mixin bottom-margin ($rems: 2) {
	margin-bottom: $rems + 0rem;
}

@mixin left-right-padding {
	@include media-breakpoint-up(lg) {
		padding-left: 4rem;
		padding-right: 4rem;
	 }
}
