.tag-articles {
  display: flex;

  .card {

    img {
      aspect-ratio: 16/10;
      object-fit: cover;
    }

    a {
        color: black;
        text-decoration: none;
    }

    .card-title {
      padding: 20px 0;
    }

    .card-tags {
      font-size: calc($font__body__size * 0.5);
      color: $color__text-input !important;
    }
  }
}
