
$theme-grey: #4D4E4F;
$theme-darkgrey: #282727;

.site-footer {
    @include max-width;
    // background-color: $theme-grey;
}

.site-footer-lower {
    background-color: $theme-darkgrey;
}


footer {

    ul {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 0;

        li.menu-item {
             a {
                color: $theme-grey;
                font-size: 0.75rem;
                @extend  .text-uppercase;
            }

        }

        li+li {
            border-left: 1px solid lightgray;
            padding: 3px;
        }


    }

    .menu-footer {


    }
}
