
$theme-grey: #4D4E4F;
$theme-darkgrey: #282727;

.site-footer {
    // @include max-width;
    background-color: $theme-grey;
}

.site-footer-lower {
    background-color: $theme-darkgrey;
}


footer {

    ul {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 0;

        li {
            a {
                @extend .link-light;
                @extend  .text-uppercase;
            }

        }

    }

    .menu-footer {
        li+li {
            border-left: 2px solid black;
            padding: 6px;
        }

    }
}
