#navbarSupportedContent {
  justify-content: flex-end;
}

.top-navigation {
  @extend .text-uppercase;
  position: sticky;
  z-index: 100;
  box-shadow: 0 5px 15px #cccccc5c;
  top: 0;

  @include media-breakpoint-up(md) {
    top: 32px;
  }
}

.site-title {
  max-width: 250px;

  // LOGOS 
  .custom-logo-link {

    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  .custom-logo-link-desktop {
    display: none;

    @include media-breakpoint-up(md) {
      display: initial;
    }
  }
}




.navbar-nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;

    @include media-breakpoint-up(lg) {
      flex-direction: row;
      align-items: flex-end;

      li + li {
        // padding-left: 16px;
        padding: 0px 1rem;
      }


    }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    margin: 0 0 1.5em;
  }

  .nav-links {
    display: flex;
  }

  .nav-previous {
    flex: 1 0 50%;
  }

  .nav-next {
    text-align: end;
    flex: 1 0 50%;
  }
}

// TODO: Is this needed?
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar"; // Requires nav

.menu-item a {
	@extend .nav-link;
}
