button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(0, 0, 0, 0.8);
	line-height: 1;
	padding: 0.6em 1em 0.4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

.wp-block-buttons {
	@include top-margin;
}

// .wp-block-button {
// 	.wp-block-button__link {
// 		position: relative; 
// 		&:hover:after {
// 			content: '';
// 			position: absolute;
// 			top: 0;
// 			left: 0;
// 			width: 50%;
// 			height: 100%;
// 			background: rgba(0, 150, 0, 0.75);
// 		}
// 	}
// }

